In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

train = pd.read_csv('./Train.csv')
test = pd.read_csv('./Test.csv')
train.shape, test.shape

((86584, 14), (6576, 13))

In [2]:
train.isnull().sum()

ID_Zindi                  0
Date                      0
ID                        0
LAT                       0
LON                       0
Precipitation             0
LST                   39786
AAI                   12875
CloudFraction         12875
NO2_strat             12875
NO2_total             12875
NO2_trop              35473
TropopausePressure    12875
GT_NO2                 4533
dtype: int64

In [3]:
train = train.dropna(subset=['GT_NO2'])

In [4]:
df = train.drop(columns=['ID_Zindi', 'ID', 'Date'])

In [6]:
import warnings
warnings.filterwarnings('ignore')

df['LST'].fillna(df['LST'].mean(), inplace=True)
df['AAI'].fillna(df['AAI'].mean(), inplace=True)
df['NO2_trop'].fillna(df['NO2_trop'].mean(), inplace=True)

In [7]:
df['CloudFraction'].fillna(df['CloudFraction'].mean(), inplace=True)
df['NO2_strat'].fillna(df['NO2_strat'].mean(), inplace=True)
df['NO2_total'].fillna(df['NO2_total'].mean(), inplace=True)
df['TropopausePressure'].fillna(df['TropopausePressure'].mean(), inplace=True)

In [8]:
df.isnull().any().sum()

0

In [9]:
df.columns

Index(['LAT', 'LON', 'Precipitation', 'LST', 'AAI', 'CloudFraction',
       'NO2_strat', 'NO2_total', 'NO2_trop', 'TropopausePressure', 'GT_NO2'],
      dtype='object')

In [10]:
df.shape

(82051, 11)

In [12]:
df.corr()

,LAT,LON,Precipitation,LST,AAI,CloudFraction,NO2_strat,NO2_total,NO2_trop,TropopausePressure,GT_NO2
LAT,1.000000,-0.022141,0.036309,-0.016049,-0.009775,0.032002,-0.014742,0.087966,0.141047,-0.002412,0.175449
LON,-0.022141,1.000000,-0.027969,-0.029537,0.016985,0.030725,0.016839,-0.158974,-0.133167,-0.001826,-0.102680
Precipitation,0.036309,-0.027969,1.000000,0.034471,0.007057,0.176118,0.062626,-0.037303,-0.038329,0.020466,-0.032344
LST,-0.016049,-0.029537,0.034471,1.000000,-0.144486,-0.037564,0.648247,-0.305079,-0.450040,-0.264113,-0.378543
AAI,-0.009775,0.016985,0.007057,-0.144486,1.000000,0.237155,-0.168853,0.146879,0.158894,0.019963,0.152406
CloudFraction,0.032002,0.030725,0.176118,-0.037564,0.237155,1.000000,-0.072230,0.049483,0.010873,0.197820,0.010219
NO2_strat,-0.014742,0.016839,0.062626,0.648247,-0.168853,-0.072230,1.000000,-0.434638,-0.471349,-0.079427,-0.504645
NO2_total,0.087966,-0.158974,-0.037303,-0.305079,0.146879,0.049483,-0.434638,1.000000,0.688808,0.023338,0.538067
NO2_trop,0.141047,-0.133167,-0.038329,-0.450040,0.158894,0.010873,-0.471349,0.688808,1.000000,0.049568,0.554677
TropopausePressure,-0.002412,-0.001826,0.020466,-0.264113,0.019963,0.197820,-0.079427,0.023338,0.049568,1.000000,0.043891
GT_NO2,0.175449,-0.102680,-0.032344,-0.378543,0.152406,0.010219,-0.504645,0.538067,0.554677,0.043891,1.000000

In [13]:
df

,LAT,LON,Precipitation,LST,AAI,CloudFraction,NO2_strat,NO2_total,NO2_trop,TropopausePressure,GT_NO2
0,45.601585,11.903551,0.000000,299.181884,0.230527,0.559117,0.000024,0.000117,0.000104,14440.821260,31.000
1,45.371005,11.840830,3.047342,299.181884,-0.074006,0.869309,0.000024,0.000127,0.000104,14441.798150,42.000
2,45.045825,12.060869,0.000000,299.181884,0.024470,0.674160,0.000024,0.000086,0.000104,14437.382940,31.000
3,45.104075,11.553241,1.200467,299.181884,-0.010442,0.920054,0.000024,0.000124,0.000104,14440.838310,30.000
4,45.038758,11.790152,1.274564,299.181884,-0.176178,0.747464,0.000024,0.000116,0.000104,14438.790370,58.000
...,...,...,...,...,...,...,...,...,...,...,...
86579,45.498227,9.556232,0.000000,299.181884,-0.434350,0.250490,0.000032,0.000643,0.000104,13063.797700,39.750
86580,45.142541,10.043836,0.000000,299.181884,-1.273342,0.199780,0.000045,0.000156,0.000104,16664.304364,30.125
86581,45.842207,9.351658,0.000000,284.980000,-0.157753,0.000000,0.000031,0.000153,0.000122,13050.164990,28.325
86582,45.113503,8.874065,0.000000,299.181884,-0.798636,0.399524,0.000031,0.000717,0.000104,13061.413290,21.250
86583,45.526473,9.515980,0.000000,299.181884,-0.434482,0.250530,0.000032,0.000643,0.000104,13063.795000,40.350

In [17]:
num_features = df.select_dtypes(include = ['int64','float64'])

correlation_matrix = num_features.corr()

threshold = 0.6

strong_correlations = []

for i in range(len(correlation_matrix.columns)):
    for j in range(i):
        if abs(correlation_matrix.iloc[i, j]) > threshold:
            strong_correlations.append((correlation_matrix.columns[i], correlation_matrix.columns[j], correlation_matrix.iloc[i, j]))

strong_correlations_df = pd.DataFrame(strong_correlations, columns=['Feature 1', 'Feature 2', 'Correlation Coefficient'])

strong_correlations_df

   Feature 1  Feature 2  Correlation Coefficient
0  NO2_strat        LST                 0.648247
1   NO2_trop  NO2_total                 0.688808

In [18]:
df = df.drop(['NO2_trop'], axis=1)

In [21]:
X = df.drop(['GT_NO2'], axis=1)
y = df['GT_NO2']

In [23]:
X.shape

(82051, 9)

In [24]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [19]:
import tensorflow as tf 
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

In [34]:
model = Sequential([
    Dense(256, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(128, activation='relu'),
    Dense(64, activation='relu'),
    Dense(1)
])

model.compile(optimizer='adam', loss='mean_squared_error', metrics=['mse'])

In [35]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_7 (Dense)             (None, 256)               2560

 dense_8 (Dense)             (None, 128)               32896

 dense_9 (Dense)             (None, 64)                8256

 dense_10 (Dense)            (None, 1)                 65

=================================================================
Total params: 43777 (171.00 KB)
Trainable params: 43777 (171.00 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [36]:
log_dir = "regressionlogs/fit_main/" + datetime.datetime.now().strftime('%Y%m%d-%H%M%S')
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=15, restore_best_weights=True)

In [37]:
history = model.fit(
    X_train, y_train, 
    validation_data=(X_test, y_test), 
    epochs=50, 
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/50
2052/2052 [==============================] - 3s 1ms/step - loss: 2079.1289 - mse: 2079.1289 - val_loss: 322.4628 - val_mse: 322.4628
Epoch 2/50
2052/2052 [==============================] - 3s 1ms/step - loss: 494.3558 - mse: 494.3558 - val_loss: 326.8676 - val_mse: 326.8676
Epoch 3/50
2052/2052 [==============================] - 2s 1ms/step - loss: 361.6604 - mse: 361.6604 - val_loss: 322.9291 - val_mse: 322.9291
Epoch 4/50
2052/2052 [==============================] - 2s 1ms/step - loss: 310.2010 - mse: 310.2010 - val_loss: 319.6943 - val_mse: 319.6943
Epoch 5/50
2052/2052 [==============================] - 2s 1ms/step - loss: 308.0493 - mse: 308.0493 - val_loss: 304.3145 - val_mse: 304.3145
Epoch 6/50
2052/2052 [==============================] - 2s 1ms/step - loss: 308.2438 - mse: 308.2438 - val_loss: 320.6348 - val_mse: 320.6348
Epoch 7/50
2052/2052 [==============================] - 2s 1ms/step - loss: 304.0602 - mse: 304.0602 - val_loss: 299.0962 - val_mse: 299.0962
Epoch 8/50
2052/2052 [==============================] - 2s 1ms/step - loss: 322.5759 - mse: 322.5759 - val_loss: 300.6184 - val_mse: 300.6184
Epoch 9/50
2052/2052 [==============================] - 2s 1ms/step - loss: 301.1902 - mse: 301.1902 - val_loss: 298.8270 - val_mse: 298.8270
Epoch 10/50
2052/2052 [==============================] - 2s 1ms/step - loss: 302.7563 - mse: 302.7563 - val_loss: 309.6348 - val_mse: 309.6348
Epoch 11/50
2052/2052 [==============================] - 2s 1ms/step - loss: 308.2955 - mse: 308.2955 - val_loss: 326.0319 - val_mse: 326.0319
Epoch 12/50
2052/2052 [==============================] - 2s 1ms/step - loss: 310.4242 - mse: 310.4242 - val_loss: 301.6950 - val_mse: 301.6950
Epoch 13/50
2052/2052 [==============================] - 2s 1ms/step - loss: 301.2897 - mse: 301.2897 - val_loss: 308.5605 - val_mse: 308.5605
Epoch 14/50
2052/2052 [==============================] - 2s 1ms/step - loss: 299.8807 - mse: 299.8807 - val_loss: 308.7661 - val_mse: 308.7661
Epoch 15/50
2052/2052 [==============================] - 2s 1ms/step - loss: 299.0749 - mse: 299.0749 - val_loss: 301.9666 - val_mse: 301.9666
Epoch 16/50
2052/2052 [==============================] - 2s 1ms/step - loss: 297.1147 - mse: 297.1147 - val_loss: 296.7552 - val_mse: 296.7552
Epoch 17/50
2052/2052 [==============================] - 2s 1ms/step - loss: 297.0257 - mse: 297.0257 - val_loss: 296.7770 - val_mse: 296.7770
Epoch 18/50
2052/2052 [==============================] - 2s 1ms/step - loss: 294.9044 - mse: 294.9044 - val_loss: 295.7596 - val_mse: 295.7596
Epoch 19/50
2052/2052 [==============================] - 2s 1ms/step - loss: 293.4950 - mse: 293.4950 - val_loss: 295.0830 - val_mse: 295.0830
Epoch 20/50
2052/2052 [==============================] - 3s 1ms/step - loss: 291.6906 - mse: 291.6906 - val_loss: 293.9824 - val_mse: 293.9824
Epoch 21/50
2052/2052 [==============================] - 3s 1ms/step - loss: 290.3647 - mse: 290.3647 - val_loss: 293.2406 - val_mse: 293.2406
Epoch 22/50
2052/2052 [==============================] - 2s 1ms/step - loss: 288.7101 - mse: 288.7101 - val_loss: 291.2813 - val_mse: 291.2813
Epoch 23/50
2052/2052 [==============================] - 2s 1ms/step - loss: 288.6343 - mse: 288.6343 - val_loss: 290.7097 - val_mse: 290.7097
Epoch 24/50
2052/2052 [==============================] - 2s 1ms/step - loss: 287.8716 - mse: 287.8716 - val_loss: 293.4822 - val_mse: 293.4822
Epoch 25/50
2052/2052 [==============================] - 2s 1ms/step - loss: 287.4630 - mse: 287.4630 - val_loss: 290.1233 - val_mse: 290.1233
Epoch 26/50
2052/2052 [==============================] - 2s 1ms/step - loss: 287.3566 - mse: 287.3566 - val_loss: 289.8759 - val_mse: 289.8759
Epoch 27/50
2052/2052 [==============================] - 3s 1ms/step - loss: 287.0345 - mse: 287.0345 - val_loss: 289.9103 - val_mse: 289.9103
Epoch 28/50
2052/2052 [==============================] - 3s 1ms/step - loss: 287.1231 - mse: 287.1231 - val_loss: 289.9674 - val_mse: 289.9674
Epoch 29/50
2052/2052 [==============================] - 3s 1ms/step - loss: 286.9271 - mse: 286.9271 - val_loss: 289.8127 - val_mse: 289.8127
Epoch 30/50
2052/2052 [==============================] - 2s 1ms/step - loss: 286.7112 - mse: 286.7112 - val_loss: 290.8270 - val_mse: 290.8270
Epoch 31/50
2052/2052 [==============================] - 2s 1ms/step - loss: 286.3584 - mse: 286.3584 - val_loss: 288.6908 - val_mse: 288.6908
Epoch 32/50
2052/2052 [==============================] - 2s 1ms/step - loss: 286.5605 - mse: 286.5605 - val_loss: 295.4528 - val_mse: 295.4528
Epoch 33/50
2052/2052 [==============================] - 2s 1ms/step - loss: 286.4513 - mse: 286.4513 - val_loss: 289.1877 - val_mse: 289.1877
Epoch 34/50
2052/2052 [==============================] - 2s 1ms/step - loss: 286.8593 - mse: 286.8593 - val_loss: 291.0918 - val_mse: 291.0918
Epoch 35/50
2052/2052 [==============================] - 2s 1ms/step - loss: 286.6238 - mse: 286.6238 - val_loss: 291.4339 - val_mse: 291.4339
Epoch 36/50
2052/2052 [==============================] - 2s 1ms/step - loss: 286.4265 - mse: 286.4265 - val_loss: 290.1377 - val_mse: 290.1377
Epoch 37/50
2052/2052 [==============================] - 2s 1ms/step - loss: 286.8043 - mse: 286.8043 - val_loss: 290.5340 - val_mse: 290.5340
Epoch 38/50
2052/2052 [==============================] - 3s 1ms/step - loss: 286.2404 - mse: 286.2404 - val_loss: 289.8071 - val_mse: 289.8071
Epoch 39/50
2052/2052 [==============================] - 2s 1ms/step - loss: 286.0461 - mse: 286.0461 - val_loss: 293.8979 - val_mse: 293.8979
Epoch 40/50
2052/2052 [==============================] - 2s 1ms/step - loss: 286.1315 - mse: 286.1315 - val_loss: 289.0453 - val_mse: 289.0453
Epoch 41/50
2052/2052 [==============================] - 2s 1ms/step - loss: 285.7722 - mse: 285.7722 - val_loss: 290.2310 - val_mse: 290.2310
Epoch 42/50
2052/2052 [==============================] - 3s 1ms/step - loss: 285.9217 - mse: 285.9217 - val_loss: 290.4659 - val_mse: 290.4659
Epoch 43/50
2052/2052 [==============================] - 2s 1ms/step - loss: 285.9426 - mse: 285.9426 - val_loss: 288.7284 - val_mse: 288.7284
Epoch 44/50
2052/2052 [==============================] - 2s 1ms/step - loss: 286.1696 - mse: 286.1696 - val_loss: 290.0826 - val_mse: 290.0826
Epoch 45/50
2052/2052 [==============================] - 3s 1ms/step - loss: 286.0333 - mse: 286.0333 - val_loss: 289.5967 - val_mse: 289.5967
Epoch 46/50
2052/2052 [==============================] - 2s 1ms/step - loss: 286.3131 - mse: 286.3131 - val_loss: 289.6223 - val_mse: 289.6223

In [38]:
%load_ext tensorboard

In [39]:
test_loss,test_mae = model.evaluate(X_test, y_test)
print(f'Test MAE: {test_mae}')

513/513 [==============================] - 1s 958us/step - loss: 288.6908 - mse: 288.6908
Test MAE: 288.6908264160156

In [40]:
test

,ID_Zindi,Date,ID,LAT,LON,Precipitation,LST,AAI,CloudFraction,NO2_strat,NO2_total,NO2_trop,TropopausePressure
0,ID_2MYNQS,1/1/19,PD03,45.289376,11.642394,3.277529,NaN,-0.313361,0.771456,0.000024,0.000075,NaN,14440.02819
1,ID_P4U5WU,1/1/19,TV03,45.836941,12.510362,0.000000,NaN,-0.229512,0.398208,0.000023,0.000120,NaN,14434.04790
2,ID_U4KWPK,1/1/19,X5561,45.582894,8.842165,0.000000,282.98,-0.470822,0.153694,0.000023,0.000171,0.000148,14427.42478
3,ID_QGSNTZ,1/1/19,X5953,45.131947,10.015742,1.928031,NaN,0.132952,0.756917,0.000024,0.000266,NaN,14443.09006
4,ID_GHSZ6K,1/1/19,X6701,45.186329,9.146666,0.000000,NaN,-0.198272,0.678858,0.000023,0.000149,NaN,14440.85840
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6571,ID_GUSXU9,12/31/21,TV03,45.836941,12.510362,0.000000,282.58,-0.013364,0.000000,0.000032,0.000135,0.000103,13060.46860
6572,ID_GMVEG1,12/31/21,X5561,45.582894,8.842165,0.000000,285.12,-0.412887,0.002098,0.000031,0.000201,0.000171,13056.11764
6573,ID_GD6HNP,12/31/21,X5953,45.131947,10.015742,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6574,ID_J7YW1Y,12/31/21,X6701,45.186329,9.146666,0.000000,NaN,-1.025128,0.476947,0.000031,0.000751,NaN,13063.22260
6575,ID_I4E04N,12/31/21,X6877,45.151743,10.781408,0.000000,273.42,-0.844936,0.460769,0.000032,0.000488,NaN,13064.08868

In [41]:
df = test

df['LST'].fillna(df['LST'].mean(), inplace=True)
df['AAI'].fillna(df['AAI'].mean(), inplace=True)
df['NO2_trop'].fillna(df['NO2_trop'].mean(), inplace=True)
df['CloudFraction'].fillna(df['CloudFraction'].mean(), inplace=True)
df['NO2_strat'].fillna(df['NO2_strat'].mean(), inplace=True)
df['NO2_total'].fillna(df['NO2_total'].mean(), inplace=True)
df['TropopausePressure'].fillna(df['TropopausePressure'].mean(), inplace=True)

In [42]:
df

,ID_Zindi,Date,ID,LAT,LON,Precipitation,LST,AAI,CloudFraction,NO2_strat,NO2_total,NO2_trop,TropopausePressure
0,ID_2MYNQS,1/1/19,PD03,45.289376,11.642394,3.277529,299.394019,-0.313361,0.771456,0.000024,0.000075,0.000081,14440.028190
1,ID_P4U5WU,1/1/19,TV03,45.836941,12.510362,0.000000,299.394019,-0.229512,0.398208,0.000023,0.000120,0.000081,14434.047900
2,ID_U4KWPK,1/1/19,X5561,45.582894,8.842165,0.000000,282.980000,-0.470822,0.153694,0.000023,0.000171,0.000148,14427.424780
3,ID_QGSNTZ,1/1/19,X5953,45.131947,10.015742,1.928031,299.394019,0.132952,0.756917,0.000024,0.000266,0.000081,14443.090060
4,ID_GHSZ6K,1/1/19,X6701,45.186329,9.146666,0.000000,299.394019,-0.198272,0.678858,0.000023,0.000149,0.000081,14440.858400
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6571,ID_GUSXU9,12/31/21,TV03,45.836941,12.510362,0.000000,282.580000,-0.013364,0.000000,0.000032,0.000135,0.000103,13060.468600
6572,ID_GMVEG1,12/31/21,X5561,45.582894,8.842165,0.000000,285.120000,-0.412887,0.002098,0.000031,0.000201,0.000171,13056.117640
6573,ID_GD6HNP,12/31/21,X5953,45.131947,10.015742,0.000000,299.394019,-1.273390,0.203512,0.000045,0.000135,0.000081,16673.339355
6574,ID_J7YW1Y,12/31/21,X6701,45.186329,9.146666,0.000000,299.394019,-1.025128,0.476947,0.000031,0.000751,0.000081,13063.222600
6575,ID_I4E04N,12/31/21,X6877,45.151743,10.781408,0.000000,273.420000,-0.844936,0.460769,0.000032,0.000488,0.000081,13064.088680

In [43]:
df = df.drop(columns=['ID_Zindi', 'ID', 'Date'])

In [45]:
df = df.drop(['NO2_trop'], axis=1)

In [48]:
df.shape

(6576, 9)

In [49]:
y_pred = model.predict(df)

206/206 [==============================] - 0s 648us/step

In [52]:
y_pred

array([[24.179848],
       [24.686232],
       [26.353476],
       ...,
       [26.426094],
       [21.02123 ],
       [23.198906]], dtype=float32)

In [54]:
output_df = pd.DataFrame({
    'ID_ZINDI': test['ID_Zindi'],
    'GT_NO2': y_pred.flatten()
})
output_df.to_csv('./experiment_night_tens.csv', index=False)

In [ ]:
# cleaned_df.to_csv('')